.forms {
    width: 25%;
    gap: 2em;
    display: flex;
    flex-direction: column;
}


.forms input, .forms button {
    padding: 0.75em;
    border: 5px solid black;
    border-radius: 7px;
    font-size: 20px;
    background-color: white;
}

.forms button {
    cursor: pointer;
    font-size: x-large;
}

.forms button:hover,
.forms button:active,
.forms button:focus-visible {
    border-color: #727272;
    text-decoration: underline;
}